{
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "useBuiltIns": "usage",
        "corejs": "3",
        "modules": false,
        "targets": {
          "chrome": "100"
        }
      }
    ],
    [
      "next/babel",
      {
        "preseet-react": {
          "runtime": "automatic",
          "importSource": "@emotion/react"
        }
      }
    ]
  ],
  "plugins": ["@emotion/babel-plugin"]
}
